body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video video{
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top:0;
  left: 0;
  
}
.head{
  box-shadow: 0 0 10px;
  padding: 20px;
  width: 300px;
  height: 650px;
  margin: 10px auto;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  
}
.city{
  width: 100%;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 12px 5px;
  border: none;
  outline: none;
  color:black;
 
  
}
.city:focus{
  box-shadow: 0 0 20px blue;
}
.city::placeholder{
  font-size: 1.1rem;

}
.image{
  position:relative;
  bottom: 35px;
  left: 275px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.image:hover{
  transform: scale(1.2);
}
.img1{
  margin-left: 75px;
}
.article{
  position: relative;
  bottom: 100px;
}
h2{
  text-align: center;
  font-size: 35px;
  color: red;
  text-shadow: 5px 5px 5px black;

}
h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: orange;
   position: relative;
  bottom:10px;
}
h4{
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
  bottom:30px;
}

.data, .wind{
  display: flex;
justify-content: space-evenly;

}
.data1,.data2{
  box-shadow: 0 0 10px;
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  border-radius: 12px;
  font-weight: bolder;
  margin-bottom: 15px;
  
  
}
.wind1{
  padding:  10px 25px;
  box-shadow: 0 0 10px;
  border-radius: 12px;
  font-weight: bolder;
  backdrop-filter: blur(10px);
  

}
.error{
  color: black;
  position: relative;
  bottom: 40px;
  left: 10px;
}














  

